<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Carros</title>
</head>
<body>

<h1>Catálogo de Carros</h1>

<a th:href="@{/carros/novo}">Cadastrar novo carro</a>

<form th:action="@{/carros/pesquisar}" method="get">
    <label>Pesquisar por modelo:</label>
    <input type="text" name="modelo">
    <button type="submit">Pesquisar</button>
    <a th:href="@{/carros}">Mostrar todos</a>
</form>

<p>Ordenar por preço:</p>

<a th:href="@{/carros/ordenar(direcao='asc')}">Menor preço</a>
<a th:href="@{/carros/ordenar(direcao='desc')}">Maior preço</a>

<br><br>

<br>

<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Placa</th>
        <th>Cor</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="carro : ${carros}">
        <td th:text="${carro.id}"></td>
        <td th:text="${carro.marca}"></td>
        <td th:text="${carro.modelo}"></td>
        <td th:text="${carro.ano}"></td>
        <td th:text="${carro.placa}"></td>
        <td th:text="${carro.cor}"></td>
        <td th:text="${carro.preco}"></td>
        <td>
            <a th:href="@{/carros/editar/{id}(id=${carro.id})}">Editar</a>
            <form th:action="@{/carros/excluir/{id}(id=${carro.id})}" method="post">
                <button type="submit">Excluir</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>